.header {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 40px;
  box-sizing: border-box;
}

.header__title {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 2px solid #000000;
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 1.25;
  text-align: center;
}


@media screen and (max-width: 424px) {
  .header {
    padding: 10px;
  }
}
