@import url(./vendor/css/normalize.css);

@import url(./vendor/fonts/montserrat/montserrat.css);

@import url(./vendor/fonts/prosto/prosto.css);

@import url(./components/Header/Header.css);

@import url(./components/Main/Main.css);

@import url(./components/TableBuilding/TableBuilding.css);

@import url(./components/Footer/Footer.css);
