@import url(./vendor/css/normalize.css);

@import url(./vendor/fonts/inter/inter.css);

* {
  outline: 1px solid;
}

@import url(./components/Header/Header.css);

@import url(./components/Main/Main.css);

@import url(./components/Footer/Footer.css);
